@import "tailwindcss";

/* Smooth aurora animation */
@keyframes auroraFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-pulse {
  animation: auroraFlow 10s ease infinite;
}
